.sidebarimg{
   width: 100%;
}

.stepList{
   position: absolute;
   display: flex;
   justify-content: center;
   text-align: center;
   top:10%;
   left: 0;
   right: 0;
}

.circularItem{
      line-height: 28px;
      background-color: transparent;
      color: white;
      font-weight: bold;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 2px solid white;
}

.circularItem:nth-child(odd),.circularItem:nth-child(2){
   margin-right: 1rem;
}


